body {
    font-family: minhaFonte;
    margin: 0;
    padding: 0px;
    background-color: #ffffff;
}

h1, h2 {
    color: #333;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
    border-radius: 15px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.product img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product h2 {
    margin: 0 0 10px 0;
    text-align: center;
}

.add-to-cart {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.add-to-cart:hover {
    background-color: #218838;
}

.cart-items {
    list-style-type: none;
    padding: 0;
}

.cart-items li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-from-cart {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-from-cart:hover {
    background-color: #c82333;
}

.checkout {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.checkout:hover {
    background-color: #0056b3;
}

nav {
    background-color: #f0a1ef;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.div4 {
    float: left;
    width: 50%;
    height: 100px;
    background-color: white;
    vertical-align: middle;
}

nav a:hover {
    background-color: #ffb6ff;
}

input, button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

button {
    background: white;
    color: black;
    cursor: pointer;
}
